@charset "UTF-8";
/* 관리자 - 아티스트 목록 */
.admin_artist_list {
	margin-top: 20px;
}

.admin_artist_list .post-list {
	position: relative;
	padding: 5px 0;
}

.admin_artist_list .post-list .picture {
	max-width: 400px;
	overflow: hidden;
	height: auto;
	border-radius: 6px;
}

.admin_artist_list .post-list .label {
	font-weight: normal;
}

.admin_artist_list .post-list .picture {
	max-width: 210px;
}

.admin_artist_list .post-list .picture img {
	width: 100%;
}

.admin_artist_list .post-list h4 {
	font-size: 20px;
}

.admin_artist_list .post-list h5 {
	color: #888;
}

.admin_artist_list .post-list p {
	float: left;
}

.admin_artist_list .post-list:after {
	height: 1px;
	width: 83%;
	bottom: 0;
	right: 0;
	content: "";
	display: block;
	position: absolute;
}

.admin_artist_list .btn {
	margin-top: 65px;
}

/* 관리자 - 댓글 관리 */
.admin_artist_comment .comment_content {
	width: 75%;
}

.admin_artist_comment .comment_button {
	margin: 0 auto;
}

.admin_artist_comment .box {
	display: inline-block;
	width: 150px;
}

.admin_artist_comment table span.s1 {
	border: 1px solid black;
	padding: 5px;
	margin-right: 5px;
}

.admin_artist_comment div.d2 {
	margin-bottom: 10px;
}

/* 관리자 아티스트 등록 */
.admin_artist_add div.body {
	width: 90%;
	height: 1000px;
	border: 1px solid black;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
}

.admin_artist_add span#button {
	float: right;
}

.admin_artist_add div#pofile_picture {
	border: 3px solid black;
	width: 20%;
	height: 350px;
	display: inline-block;
	margin: 30px 30px 0 0;
	padding: 0;
	color: lightgray;
	text-align: center;
	padding-top: 160px;
}

.admin_artist_add textarea#content_text {
	vertical-align: top;
	width: 75%;
	height: 350px;
	display: inline-block;
	margin: 30px 0 10px 0;
	padding: 0;
}

.admin_artist_add div#content {
	margin-top: 20px;
	border: 1px solid black;
	padding: 0 0 30px 30px;
}

.admin_artist_add div.top {
	margin-top: 10px;
	margin-bottom: 100px;
}

.admin_artist_add label#add {
	font-size: 30px;
	font-weight: bold;
}

.admin_artist_add #artist_name {
	border: 3px solid black;
	color: lightgray;
	width: 15%;
}

/* 에러 페이지 */
.page-404 a:hover {
	text-decoration: none;
}

.page-404 .clearfix:before, .clearfix:after {
	display: table;
	content: ' ';
}

.page-404 .clearfix:after {
	clear: both;
}

.page-404 {
	background: #f0f0f0 !important;
}

.page-404 .outer {
	position: absolute;
	top: 0;
	display: table;
	width: 100%;
	height: 100%;
}

.page-404 .outer .middle {
	display: table-cell;
	vertical-align: middle;
}

.page-404 .outer .middle .inner {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

.page-404 .outer .middle .inner .inner-circle {
	height: 300px;
	border-radius: 100%;
	background-color: white;
	margin-top: 40px;
}

.page-404 .outer .middle .inner .inner-circle:hover i {
	color: pink !important;
	background-color: #f5f5f5;
	box-shadow: 0 0 0 15px powderblue;
}

.page-404 .outer .middle .inner .inner-circle:hover span {
	color: powderblue;
}

.page-404 .outer .middle .inner .inner-circle i {
	font-size: 5em;
	line-height: 1em;
	float: right;
	width: 1.6em;
	height: 1.6em;
	margin-top: -.7em;
	margin-right: -.5em;
	padding: 20px;
	-webkit-transition: all .4s;
	transition: all .4s;
	text-align: center;
	color: #f5f5f5 !important;
	border-radius: 50%;
	background-color: powderblue;
	box-shadow: 0 0 0 15px #f0f0f0;
}

.page-404 .outer .middle .inner .inner-circle span {
	font-size: 7em;
	font-weight: 700;
	line-height: 1.2em;
	display: block;
	-webkit-transition: all .4s;
	transition: all .4s;
	text-align: center;
	color: gray;
	margin-left: 10px;
}

.page-404 .outer .middle .inner .inner-status {
	font-size: 20px;
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: center;
	color: #39bbdb;
}

.page-404 .outer .middle .inner .inner-detail {
	line-height: 1.4em;
	display: block;
	margin-bottom: 10px;
	text-align: center;
	color: gray;
}

.page-404 .error {
	margin-right: 20px;
}

.page-404 .outer .inner a#btn {
	display: block;
}

/* 메인 페이지 */
body#index {
	background-image: url('/concert/images/main_img2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

#index .container {
	/* 	height: 100vh; */
	width: 100vw;
}

#index .container h1 {
	font-family: 'Jua', sans-serif;
	text-shadow: black 0.2em 0.2em 0.2em;
	color: white;
	padding-top: 100px;
}

#index div.modal {
	font-family: 'Jua', sans-serif;
}

#index #jang_island {
	position: absolute;
	top: 510px;
	left: 100px;
	background-color: transparent !important;
	border: none;
	background-color: transparent !important;
	background-color: transparent !important;
}

#index #iu_island {
	position: absolute;
	top: 520px;
	left: 1200px;
	background-color: transparent !important;
	border: none;
	background-color: transparent !important;
}

#index #jan_island {
	position: absolute;
	top: 620px;
	left: 600px;
	background-color: transparent !important;
	border: none;
	background-color: transparent !important;
}

#index #cm_island {
	position: absolute;
	top: 630px;
	left: 1700px;
	background-color: transparent !important;
	border: none;
	background-color: transparent !important;
}

#index #hyun_island {
	position: absolute;
	top: 610px;
	left: 920px;
	background-color: transparent !important;
	border: none;
	background-color: transparent !important;
}

#index nav#top_nav {
	margin-bottom: 0px;
}

#index #header_div {
	margin-bottom: 0px !important;
}

/* 헤더 */
#header.navbar .nav-item:hover .dropdown-menu {
	display: block;
}