@charset "UTF-8";

/* 헤더 */
.header #header_div ul {
	list-style: none;
}

.header #header_div .lT {
	height: 66px;
	margin: 10px 0;
	margin-left: 10px;
}

.header #header_div .art>.d {
	display: none;
}

.header #header_div #top_nav li:hover {
	text-decoration: underline 3px;
}

.header #header_div .art:hover .d {
	display: block;
}

.header #header_div .justify-content-end {
	margin-right: 10px
}

.header #header_div .logo {
	float: left;
}

.header #header_div a:link, #header_div a:visited {
	color: white;
	text-decoration: none;
}

.header #header_div a:hover {
	color: black;
}

.header #header_div #top_nav {
	text-align: center;
	height: 56px;
	background-color: tomato;
}

.header #header_div #top_nav>ul {
	display: inline-block;
	padding: 16px;
}

.header #header_div #top_nav>ul>li {
	float: left;
	align-conten: center;
	margin-left: 50px;
	color: white;
}

.header #header_div .sIcon {
	float: right;
	margin: 4px 10px 0 0;
}

.header #header_div .d {
	background-color: gray;
	text-align: left;
	padding-left: 0;
	width: 100px;
}

.header #header_div .d li {
	padding: 5px 0;
}

.header #header_div .nav-item {
	padding: 0 10px;
}

.header #header_div .auser:link, #header_div .auser:visited {
	color: black;
	text-decoration: none;
}

/* 관리자 아태스트 댓글 */
.admin_artist_comment .comment_content {
	width: 75%;
}

.admin_artist_comment .comment_button {
	margin: 0 auto;
}

.admin_artist_comment .box {
	display: inline-block;
	width: 150px;
}

.admin_artist_comment table span.s1 {
	border: 1px solid black;
	padding: 5px;
	margin-right: 5px;
}

.admin_artist_comment div.d2 {
	margin-bottom: 10px;
}

/* 관리자 아티스트 수정 */
.admin_artist_edit div.body {
	width: 90%;
	height: 1000px;
	border: 1px solid black;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
}

.admin_artist_edit span#button {
	float: right;
}

.admin_artist_edit div#pofile_picture {
	border: 3px solid black;
	width: 20%;
	height: 350px;
	display: inline-block;
	margin: 30px 30px 0 0;
	padding: 0;
	color: lightgray;
	text-align: center;
	padding-top: 160px;
}

.admin_artist_edit textarea#content_text {
	vertical-align: top;
	width: 75%;
	height: 350px;
	display: inline-block;
	margin: 30px 0 10px 0;
	padding: 0;
}

.admin_artist_edit div#content {
	margin-top: 20px;
	border: 1px solid black;
	padding: 0 0 30px 30px;
}

.admin_artist_edit div.top {
	margin-top: 10px;
	margin-bottom: 100px;
}

.admin_artist_edit label#add {
	font-size: 30px;
	font-weight: bold;
}

.admin_artist_edit #artist_name {
	border: 3px solid black;
	color: lightgray;
	width: 15%;
}

.admin_artist_edit .artist_name {
	width: 15%;
	border: 1px solid lightgray;
	color: white;
	font-weight: bold;
	background-color: lightgray;
	text-align: center;
	font-size: 20px;
}

/* 관리자 아티스트 등록 */
.admin_artist_add div.body {
	width: 90%;
	height: 1000px;
	border: 1px solid black;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
}

.admin_artist_add span#button {
	float: right;
}

.admin_artist_add div#pofile_picture {
	border: 3px solid black;
	width: 20%;
	height: 350px;
	display: inline-block;
	margin: 30px 30px 0 0;
	padding: 0;
	color: lightgray;
	text-align: center;
	padding-top: 160px;
}

.admin_artist_add textarea#content_text {
	vertical-align: top;
	width: 75%;
	height: 350px;
	display: inline-block;
	margin: 30px 0 10px 0;
	padding: 0;
}

.admin_artist_add div#content {
	margin-top: 20px;
	border: 1px solid black;
	padding: 0 0 30px 30px;
}

.admin_artist_add div.top {
	margin-top: 10px;
	margin-bottom: 100px;
}

.admin_artist_add label#add {
	font-size: 30px;
	font-weight: bold;
}

.admin_artist_add #artist_name {
	border: 3px solid black;
	color: lightgray;
	width: 15%;
}

/* 메인화면 index.jsp*/
.index .main {
	background-image: url('/concert/images/main_img2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

.index .container {
	height: 100vh;
	width: 100vw;
}

.index .container h1 {
	font-family: 'Jua', sans-serif;
	text-shadow: black 0.2em 0.2em 0.2em;
	color: white;
	padding-top: 100px;
}

.index div.modal {
	font-family: 'Jua', sans-serif;
}

.index #jang_island {
	position: absolute;
	top: 510px;
	left: 100px;
	background-color: transparent !important;
	border: none;
	background-color: transparent !important;
	background-color: transparent !important;
}

.index #iu_island {
	position: absolute;
	top: 520px;
	left: 1200px;
	background-color: transparent !important;
	border: none;
	background-color: transparent !important;
}

.index #jan_island {
	position: absolute;
	top: 620px;
	left: 600px;
	background-color: transparent !important;
	border: none;
	background-color: transparent !important;
}

.index #cm_island {
	position: absolute;
	top: 630px;
	left: 1700px;
	background-color: transparent !important;
	border: none;
	background-color: transparent !important;
}

.index #hyun_island {
	position: absolute;
	top: 610px;
	left: 920px;
	background-color: transparent !important;
	border: none;
	background-color: transparent !important;
}

.index nav#top_nav {
	margin-bottom: 0px;
}

.index #header_div {
	margin-bottom: 0px !important;
}

/* 관리자 헤더 */
#admin_header .navbar .nav-item:hover .dropdown-menu {
	display: block;
}

/* 에러페이지 */
.page-404 a:hover {
	text-decoration: none;
}

.page-404 .clearfix:before, .page-404 .clearfix:after {
	display: table;
	content: ' ';
}

.page-404 .clearfix:after {
	clear: both;
}

.page-404 .outer {
	margin-top: 50px;
	display: table;
	width: 100%;
	height: 100%;
}

.page-404 .outer .middle {
	display: table-cell;
	vertical-align: middle;
}

.page-404 .outer .middle .inner {
	width: 300px;
	margin-right: auto;
	margin-left: auto;
}

.page-404 .outer .middle .inner .inner-circle {
	height: 300px;
	border-radius: 100%;
	background-color: white;
	margin-top: 40px;
}

.page-404 .outer .middle .inner .inner-circle:hover i {
	color: pink !important;
	background-color: #f5f5f5;
	box-shadow: 0 0 0 15px powderblue;
}

.page-404 .outer .middle .inner .inner-circle:hover span {
	color: powderblue;
}

.page-404 .outer .middle .inner .inner-circle i {
	font-size: 5em;
	line-height: 1em;
	float: right;
	width: 1.6em;
	height: 1.6em;
	margin-top: -.7em;
	margin-right: -.5em;
	padding: 20px;
	-webkit-transition: all .4s;
	transition: all .4s;
	text-align: center;
	color: #f5f5f5 !important;
	border-radius: 50%;
	background-color: powderblue;
	box-shadow: 0 0 0 15px #f0f0f0;
}

.page-404 .outer .middle .inner .inner-circle span {
	font-size: 7em;
	font-weight: 700;
	line-height: 1.2em;
	display: block;
	-webkit-transition: all .4s;
	transition: all .4s;
	text-align: center;
	color: gray;
	margin-left: 10px;
}

.page-404 .outer .middle .inner .inner-status {
	font-size: 20px;
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
	text-align: center;
	color: #39bbdb;
}

.page-404 .outer .middle .inner .inner-detail {
	line-height: 1.4em;
	display: block;
	margin-bottom: 10px;
	text-align: center;
	color: gray;
}

.page-404 .error {
	margin-right: 20px;
}

.page-404 .outer .inner a#btn {
	display: block;
}