@charset "UTF-8";

#header_div ul {
	list-style: none;
}

#header_div .lT {
	height: 66px;
	margin: 10px 0;
	margin-left: 10px;
}

#header_div .art>.d {
	display: none;
}

#header_div #top_nav li:hover {
	text-decoration: underline 3px;
}

#header_div .art:hover .d {
	display: block;
}

#header_div .justify-content-end {
	margin-right: 10px
}

#header_div .logo {
	float: left;
}

#header_div a:link, #header_div a:visited {
	color: white;
	text-decoration: none;
}

#header_div a:hover {
	color: black;
}

#header_div #top_nav {
	text-align: center;
	height: 56px;
	background-color: tomato;
}

#header_div #top_nav>ul {
	display: inline-block;
	padding: 16px;
}

#header_div #top_nav>ul>li {
	float: left;
	align-conten: center;
	margin-left: 50px;
	color: white;
}

#header_div .sIcon {
	float: right;
	margin: 4px 10px 0 0;
}

#header_div .d {
	background-color: gray;
	text-align: left;
	padding-left: 0;
	width: 100px;
}

#header_div .d li {
	padding: 5px 0;
}

#header_div .nav-item {
	padding: 0 10px;
}

#header_div .auser:link, #header_div .auser:visited {
	color: black;
	text-decoration: none;
}