div#carouselSlider {
	background-color: white;
	height: 120rem;
}

h2,#artistText{
	font-family: 'Jua', sans-serif;
}

#artistText{
	font-size:20px;
	color:black;
}
.carousel-item {
	height: 120rem;
	background: white;
}

div.carousel-item {
	text-align: center;
}

div.article {
	
	background-color: white;
}


#cm {
	width: 40%;
}

section.container {
	background-color: bisque;
}

div.comment {
	background-color: white;
	
}

div.article{
	height:1800px;
}

.pageControl{
	color:black;
	font-weight:bold;
}


.text-white {
    color: #white !important;
}
.ui-bg-overlay-container, .ui-bg-video-container {
    position: relative;
}
.ui-bg-cover {
    background-color:white;
    background-position: center center;
    background-size: cover;
    height:800px;
}
.ui-bg-overlay-container .ui-bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.bg-dark {
    background-color: black !important;
}
.opacity-50 {
    opacity: .5 !important;
}
.bg-dark {
    background-color: black !important;
}
.ui-bg-overlay-container>*, .ui-bg-video-container>* {
    position: relative;
}
@media (min-width: 992px){
    .container, .container-fluid {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}
.media, .media>:not(.media-body), .jumbotron, .card {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.ui-w-100 {
    width: 100px !important;
    height: auto;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.opacity-75 {
    opacity: .75 !important;
}

.comment{
	
}

.pageNumber{
	border:1px solid lightgray;
	padding:3px;
	padding: 3px 6px;
}

div #artistContainer{
	border:3px solid black;
	padding: 50px 150px;
}


